dcc/schema/dsi_2_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://ptb.de/si"
	xmlns:si="https://ptb.de/si"
	elementFormDefault="qualified">
	
	<xs:annotation>
		<xs:documentation xml:lang="en">
			D-SI - Digital System of Units
            Copyright (c) 2019 - 2021 Physikalisch-Technische Bundesanstalt (PTB), all rights reserved. 

			This XML Scheme Definition (XSD) is free software: you can redistribute it and/or modify
   			it under the terms of the GNU Lesser General Public License as published by
    		the Free Software Foundation, version 3 of the License.

			This XSD is distributed in the hope that it will be useful,
    		but WITHOUT ANY WARRANTY; without even the implied warranty of
    		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    		GNU Lesser General Public License for more details.

			You should have received a copy of the GNU Lesser General Public License
    		along with this XSD.  If not, see http://www.gnu.org/licenses.
			
			CONTACT: 			smartcom@ptb.de
			DEVELOPMENT:		https://gitlab1.ptb.de/d-ptb/d-si/xsd-d-si
			D-SI XSD VERSION:	2.1.0
			RELEASE DATA:		2022-01-21		
			DOI:				10.5281/zenodo.3366901		
    	</xs:documentation>
		<xs:documentation xml:lang="en">
	  		ACKNOWLEDGEMENT:
		    The development of early versions of the XML scheme was part of the research project EMPIR 17IND02 (title: SmartCom). 
		    This project (17IND02) has received funding from the EMPIR programme, co-financed by the Participating States and 
		    from the European Union's Horizon 2020 research and innovation programme.
		    The extension to version 2.1.0 received great support from PTB members B. Gloger and J. Jagieniak.
	    </xs:documentation>
	</xs:annotation>




  
 <!-- ############## D-SI XML ELEMENT DEFINITIONS FOR MEASUREMETN DATA EXCHANGE #################### -->
	
	<xs:element name="real" type="si:realQuantityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Metadata element definition for a real measurement quantity.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The following statements of a real quantity are possible. 
			    [(m)-mandatory, (o)-optional]
			    
			    1. Basic measured quantity
			    	(o) - element label				(string)
			    	(m) - element value				(decimal value type)
			    	(m) - element unit				(string - SI format)
			    	(o) - element dateTime			(xs:dateTime)
			      			      
			    2. Measured quantity with univariate measurement uncertainty
			    	(o) - element label				(string)
			    	(m) - element value				(decimal value type)
			    	(m) - element unit				(string - SI format)
					(o) - element dateTime			(xs:dateTime)
			    	(m) - choice si:expandedUnc or si:coverageInterval for the univaraite uncertainty
				]]>
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				Integration into external XML:
				<myXML xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:si="https://ptb.de/si">
				  <xs:element name="individualElement">
			        <xs:complexType>
			          <xs:sequence>
			            <xs:element ref="si:real"/>
			          </xs:sequence>
			        </xs:complexType>
			     </xs:element>
			   </mxXML>
				]]>  
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:element name="constant" type="si:constantQuantityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of a structure for real numbers, that represent for fundamental 
				physical constants and mathematical	constants.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The element has the following components [(m)-mandatory, (o)-optional]:
				 
				(o) - element label						(string)
				(m) - element value						(decimal value type) 
			    (m) - element unit						(string - SI unit) 
			    (o) - element dateTime					(xs:dateTime)
			    (o) - element uncertainty				(decimal value >= 0)
				(o) - element distribution				(string)
				
				The value and the uncertainty have the unit specified by the element unit.
				For fundamental physical constants, that are defined experimentally, the
				uncertainty is the standard deviation.
				
				For rounded mathematical constants, the uncertainty is the standard deviation
				of a rectangular distribution (element value defines center point), that 
				contains the exact value of the constant with 100 percent probability.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
		<xs:element name="complex" type="si:complexQuantityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The definition of complex quantities in the D-SI metadata model.
				Complex quantities allow two representations of complex numerical values:
				One is the Cartesian coordinate form, the other representation is the
				polar coordinate form.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The following statements of a complex quantity are possible. 
			    [(m)-mandatory, (o)-optional]
			    
			    1. Basic measured quantity in Cartesian form
			    	(o) - element label				(string)
			    	(m) - element valueReal			(decimal value type)
					(m) - element valueImag			(decimal value type)
			   	 	(m) - element unit				(string - SI unit)
					(o) - element dateTime			(xs:dateTime)
				
				
				2. Basic measured quantity in polar form
			    	(o) - element label				(string)
			    	(m) - element valueMagnitude	(decimal value type)
					(m) - element valuePhase		(decimal value type)
			   	 	(m) - element unit				(string - SI unit)
					(m) - element unitPhase			(string - SI unit for an angular quantity)
					(o) - element dateTime			(xs:dateTime)
					
					
				3. Basic measured quantity in Cartesian form with bivariate uncertainty
			    	(o) - element label				(string)
			    	(m) - element valueReal			(decimal value type)
					(m) - element valueImag			(decimal value type)
			   	 	(m) - element unit				(string - SI unit)
					(o) - element dateTime			(xs:dateTime)
					(m) - choice si:ellipsoidalRegion or si:rectangularRegion for the bivariate uncertainty
				
				
				4. Basic measured quantity in polar form with bivariate uncertainty
			    	(o) - element label				(string)
			    	(m) - element valueMagnitude	(decimal value type)
					(m) - element valuePhase		(decimal value type)
			   	 	(m) - element unit				(string - SI unit)
					(m) - element unitPhase			(string - SI unit for an angular quantity)
					(o) - element dateTime			(xs:dateTime)
					(m) - choice si:ellipsoidalRegion or si:rectangularRegion for the bivariate uncertainty
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:element name="realList" type="si:realListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Meta data element definition for a list of real measurement quantities. 
				The list can represent independent measurement or multivariate vector quantities.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				 A list can provide the following structures:
    			   - list of one ore more si:real elements
			       - optional list timestamp, list label, and/or list unit 
			       - optional list univariate uncertainty statement with list unit
				   - optional multivariate hyper-elliptical or hyper-rectangular coverage region
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="realListXMLList" type="si:realListXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Meta data element definition for a list of real measurement quantities based on
				the XML type xsd:list. The list can represent independent measurement or multivariate 
				vector quantities. The listed data is separated by blank spaces allowing a memory
				saving implementation of large data sets.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				 A list can provide the following structures:
    			   - list of one ore more si:value elements separated by blank spaces
			       - optional list timestamp, list label, and/or list unit 
			       - optional list univariate uncertainty statement with list unit
				   - optional multivariate hyper-elliptical or hyper-rectangular coverage region
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="complexList" type="si:complexListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Meta data element definition for a list of complex measurement quantities. 
				The list can represent independent measurement or multivariate vector quantities.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				 This list can provide the following structures:
				   - list of one ore more si:complex elements
			       - optional list timestamp, list label, and/or list unit(s) 
			       - optional list bivariate uncertainty statement with list unit(s)
				   - optional multivariate hyper-elliptical or hyper-rectangular coverage region
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="list" type="si:listType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Meta data element definition for a list of basic measurement quantities. 
				The list can represent independent measurement or multivariate vector quantities.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				 This list can provide the following nested structures:
			      - si:list elements and
			      - si:realList elements and
			      - si:complexList elements
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	
	<!-- -->
	<xs:element name="hybrid" type="si:hybridType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The hybrid elements allows to add quantities to the
				machine readable D-SI format, with other units, than those allowed
				to be used with the SI by means of the BIPM SI brochure.
			</xs:documentation>	
			<xs:documentation xml:lang="en">
				<![CDATA[
				 The hybrid element can contain the following information
				 
				 1. A set of real quantities
				 	- all real elements provide a quantity value for one and the same measured quantity
				 	- each real element provides this quantity with a different unit
				 	- at least one real element provides the quantity with a machine readable SI unit
				 	- the other real quantities can use any SI or non-SI unit
				 	
				 2. A set of complex quantities
				 	- all complex elements provide a quantity value for one and the same measured quantity
				 	- each complex element provides this quantity with a different unit(s)
				 	- at least one complex element provides the quantity with a machine readable SI unit(s)
				 	- the other complex quantities can use any SI or non-SI unit
				 
				  3. A set of list elements
				 	- all list elements must provide the same quantity information and hence, must have
				 		an identical structure.
				 	- the lists do only differ by using different units for each of the quantities
				 	- at least one list  provides all quantities only with machine readable SI units
				 	- the other lists can use any other units for the quantities
					- Applicable list types are si:list, si:realList, si:complexList and si:realListXMLList.
				 
				  4. A set of constant quantities
				 	- all constant elements provide a quantity value for one and the same quantity
				 	- each constant element provides this quantity with a different unit
				 	- at least one constant element provides the quantity with a machine readable SI unit
				 	- the other constant quantities can use any SI or non-SI unit
				]]>
			</xs:documentation>	
		</xs:annotation>
	</xs:element>
	
	

<!-- ############## D-SI SUPPLEMENTAL XML ELEMENT DEFINITIONS #################### -->
		
	<xs:element name="expandedUnc" type="si:expandedUncType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of the structure, that gives the necessary components for stating 
				an expanded measurement uncertainty. This element must always be used in the
				context of a real quantity, which is an application within si:real and/or
				si:globalUnivariateUnc.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The element has the following components [(m)-mandatory, (o)-optional]:
				 
				(m) - element uncertainty				(decimal value >= 0, THE EXPANDED UNCERTAINTY VALUE!)
			    (m) - element coverageFactor			(decimal value >= 1) 
			    (m) - element coverageProbability		(decimal value in [0,1])
				(o) - element distribution				(string)
				
				The unit of component uncertainty is the unit used in the context of
				si:real and/or si:globalUnivariateUnc.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:element name="coverageInterval" type="si:coverageIntervalType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of the structure, that gives the necessary components for stating 
				a probabilistic-symmetric coverage interval for a real uncertainty. This element 
				must always be used in the context of a real quantity, which is an application 
				within si:real and/or si:globalUnivariateUnc.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The element has the following components [(m)-mandatory, (o)-optional]:
				 
				(m) - element stdUncertainty			(decimal value >= 0)
				(m) - element intervalMin				(decimal value type) 
			    (m) - element intervalMax				(decimal value type) 
			    (m) - element coverageProbability		(decimal value in [0,1])
				(o) - element distribution				(string)
				
				The unit of components stdUncertainty, intervalMin and intervalMax is the unit 
				used in the context of si:real and/or si:globalUnivaraiteUnc.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<!--  -->
	<xs:element name="covarianceMatrix" type="si:covarianceMatrixType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of a covariance matrix element that is used for
				multidimensional uncertainty statements in the D-SI format.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				A covariance matrix has n column elements.
				The dimension of the covariance matrix is the amount of columns.
				Each column contains the covariance values of one column of the 
				covariance matrix.
				The order of the columns is from left to right column in the
				covariance matrix.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of the structure, that provides a hyper-ellipsoidal coverage
				region for stating the uncertainty of multivariate quantities. It is
				used in the context of uncertainty for complex quantities and
				lists of real or complex quantities.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The element has the following components [(m)-mandatory, (o)-optional]:
				 
				(m) - element covarianceMatrix			(sub structure covarianceMatrix)
				(m) - element coverageFactor			(decimal value >= 1) 
			    (m) - element coverageProbability		(decimal value in [0,1]) 
				(o) - element distribution				(string)
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	
	<xs:element name="rectangularRegion" type="si:rectangularRegionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Definition of the structure that provides a hyper-rectangular coverage
				region for stating the uncertainty of multivariate quantities. It is
				used in the context of uncertainty for complex quantities and
				lists of real or complex quantities.
			</xs:documentation>
			<xs:documentation xml:lang="en">
				<![CDATA[
				The element has the following components [(m)-mandatory, (o)-optional]:
				 
				(m) - element covarianceMatrix			(sub structure covarianceMatrix)
				(m) - element coverageFactor			(decimal value >= 1) 
			    (m) - element coverageProbability		(decimal value in [0,1]) 
				(o) - element distribution				(string)
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	

<!-- ############## D-SI XML TYPE DEFINITIONS #################### -->
	
	<xs:complexType name="realQuantityType">
			<xs:sequence>
				<!-- optional label and quantity type-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				
				<!-- mandatory information -->
				<xs:element name="value" type="si:decimalType"/>
				<xs:element name="unit"  type="si:unitType"/>

				<!-- optional time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>

				<!-- optional choice of uncertainty statements -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							univariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="expandedUnc" type="si:expandedUncType"/>
					<xs:element name="coverageInterval" type="si:coverageIntervalType"/>
				</xs:choice>
				
			</xs:sequence>
		</xs:complexType> 
		
		
		<xs:complexType name="constantQuantityType">
			<xs:sequence>
				<!-- optional label and quantity type-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
			
				<!-- mandatory information -->
				<xs:element name="value" type="si:decimalType"/>
				<xs:element name="unit"  type="si:unitType"/>

				<!-- optional time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				
				<!-- optional uncertainty -->
				<xs:element name="uncertainty" type="si:uncertaintyValueType" minOccurs="0"/>
				
				<!-- optional distribution -->
				<xs:element name="distribution" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="complexQuantityType">
			<xs:sequence>
				<!-- optional label and quantity type-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				
				<!-- choice of Cartesian coordinate form or polar coordinate form -->
				<xs:choice>
					<xs:sequence>
						<!-- mandatory components of Cartesian coordinate form -->
						<xs:element name="valueReal" type="si:decimalType"/>
						<xs:element name="valueImag" type="si:decimalType"/>
						<xs:element name="unit" type="si:unitType"/>
					</xs:sequence>
					<xs:sequence>
						<!-- mandatory components of polar coordinate form -->
						<xs:element name="valueMagnitude" type="si:decimalType"/>
						<xs:element name="valuePhase" type="si:decimalType"/>
						<xs:element name="unit" type="si:unitType"/>
						<xs:element name="unitPhase" type="si:unitPhaseType"/>			
					</xs:sequence>	
				</xs:choice>
				<!-- optional time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				
				<!-- optional uncertainty statement: either ellipsoidal or rectangular coverage region -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							bivariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType"/>
					<xs:element name="rectangularRegion" type="si:rectangularRegionType"/>
				</xs:choice>
				
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="realInListType">
			<xs:sequence>
				<!-- optional local label and local quantity type-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				
				<!-- mandatory information -->
				<xs:element name="value" type="si:decimalType"/>
				<!-- if list unit, then do not write this local unit -->
				<xs:element name="unit"  type="si:unitType" minOccurs="0"/>
				<!-- optional local time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				<!-- optional choice of local uncertainty statements -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							univariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="expandedUnc" type="si:expandedUncType"/>
					<xs:element name="coverageInterval" type="si:coverageIntervalType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="complexInListType">
			<xs:sequence>
				<!-- optional local label and local quantity type-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>		
									
				<!-- choice of Cartesian coordinate form or polar coordinate form -->
				<xs:choice>									
					<xs:sequence>
						<!-- mandatory components of Cartesian coordinate form -->
						<xs:element name="valueReal" type="si:decimalType"/>
						<xs:element name="valueImag" type="si:decimalType"/>
						<!-- if list unit, then do not write this local unit -->
						<xs:element name="unit" type="si:unitType" minOccurs="0"/>
					</xs:sequence>										
					<xs:sequence>
						<!-- mandatory components of polar coordinate form -->
						<xs:element name="valueMagnitude" type="si:decimalType"/>
						<xs:element name="valuePhase" type="si:decimalType"/>
						<!-- if list unit, then do not write this local unit -->
						<xs:element name="unit" type="si:unitType" minOccurs="0"/>
						<!-- if list unit, then do not write this local unit -->	
						<xs:element name="unitPhase" type="si:unitPhaseType" minOccurs="0"/>												
					</xs:sequence>										
				</xs:choice>														
				<!-- optional local time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>	
								
				<!-- optional local uncertainty statement: either ellipsoidal or rectangular coverage region -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							bivariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType"/>
					<xs:element name="rectangularRegion" type="si:rectangularRegionType"/>
				</xs:choice>				
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="realListType">
			<xs:sequence>
				<!-- optional label of the list-->
				<xs:element name="label" type="xs:string" minOccurs="0"/>			
				<!-- optional list time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				<!-- optional list unit -->
				<xs:element name="listUnit" type="si:unitType" minOccurs="0"/>
				<!-- optional list uncertainty -->
				
				<xs:element name="listUnivariateUnc" type="si:listUnivariateUncType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Definition of a structure, for a global univariate uncertainty, that
							is used within the list structure with a list of real quantities.
							The global univariate uncertainty can either be given as an expanded 
							measurement uncertainty or as a coverage interval.
						</xs:documentation>
					</xs:annotation>
				</xs:element>	
				
				<!-- mandatory list of real elements -->
				<xs:element name="real" type="si:realInListType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Meta data element definition for a real measurement quantity in list.
							This implementation differs from the pure real quantity in the way that
							the unit component is optional in order to allow a combination with
							a global unit in the list of real quantities.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- optional multivariate uncertainty statement -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							multivariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType"/>
					<xs:element name="rectangularRegion" type="si:rectangularRegionType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	
	
		<xs:complexType name="realListXMLListType">
			<xs:sequence>
				<!-- optional label and quantity type-->
				<xs:element name="labelXMLList" type="si:stringXMLListType" minOccurs="0"/>
				
				<!-- mandatory information -->
				<xs:element name="valueXMLList" type="si:decimalXMLListType"/>
				<xs:element name="unitXMLList"  type="si:unitXMLListType"/>
				
				<!-- optional time stamp -->
				<xs:element name="dateTimeXMLList" type="si:dateTimeXMLListType" minOccurs="0"/>
				
				<!-- optional choice of uncertainty statements -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							univariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="expandedUncXMLList" type="si:expandedUncXMLListType"/>
					<xs:element name="coverageIntervalXMLList" type="si:coverageIntervalXMLListType"/>
				</xs:choice>
				
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							multivariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="ellipsoidalRegionXMLList" type="si:ellipsoidalRegionType"/>
					<xs:element name="rectangularRegionXMLList" type="si:rectangularRegionType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="complexListType">
			<xs:sequence>
				<!-- optional label of the list -->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				<!-- optional list time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				<!-- optional list unit -->
				<xs:element name="listUnit" type="si:unitType" minOccurs="0"/>
				<xs:element name="listUnitPhase" type="xs:string" minOccurs="0"/>			
				<!-- optional list bivariate uncertainty -->
				
				<xs:element name="listBivariateUnc" type="si:listBivariateUncType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Definition of a structure, for a global bivariate uncertainty, that
							is used within the list structure with a list of complex quantities.
							The global bivariate uncertainty can either be given as a hyper-ellipsoidal
							coverage region or a hyper-rectangular coverage region. Both
							coverage regions must provide a covariance matrix of dimension 2.
						</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<!-- mandatory list of complex elements -->
				<xs:element name="complex" type="si:complexInListType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Meta data element definition for a complex measurement quantity in list.
							This implementation differs from the pure complex quantity, in the way that
							the unit components are optional in order to allow a combination with
							a global unit in the list of complex quantities.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- optional multivariate uncertainty statement -->
				<xs:choice minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							multivariate measurement uncertainty
						</xs:documentation>
					</xs:annotation>
					<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType"/>
					<xs:element name="rectangularRegion" type="si:rectangularRegionType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="listType">
			<xs:sequence>
				<!-- optional label of the list -->
				<xs:element name="label" type="xs:string" minOccurs="0"/>
				<!-- optional list time stamp -->
				<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
				
				<!-- selection between list of lists and list of real or complex -->
				<xs:choice maxOccurs="unbounded">
					<!-- either list of real -->
					<xs:element name="realList" type="si:realListType"/>					
					<!-- or list of complex -->
					<xs:element name="complexList" type="si:complexListType"/>
					<!-- or list of lists -->
					<xs:element name="list" type="si:listType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="hybridType">
			<xs:sequence>
				<!-- mandatory adapter for at least one SI quantity and additional (non-) SI quantities -->
				<xs:choice>
					<xs:element name="real" type="si:realQuantityType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="complex" type="si:complexQuantityType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="list" type="si:listType"  minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="realList" type="si:realListType"  minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="realListXMLList" type="si:realListXMLListType"  minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="complexList" type="si:complexListType"  minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="constant" type="si:constantQuantityType"  minOccurs="1" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="expandedUncType">
			<xs:sequence>
				<xs:element name="uncertainty" type="si:uncertaintyValueType"/>
				<xs:element name="coverageFactor" type="si:kValueType"/>
				<xs:element name="coverageProbability" type="si:probabilityValueType"/>
				<xs:element name="distribution" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	
		<xs:complexType name="expandedUncXMLListType">
			<xs:sequence>
				<xs:element name="uncertaintyXMLList" type="si:uncertaintyValueXMLListType"/>
				<xs:element name="coverageFactorXMLList" type="si:kValueXMLListType"/>
				<xs:element name="coverageProbabilityXMLList" type="si:probabilityValueXMLListType"/>
				<xs:element name="distributionXMLList" type="si:stringXMLListType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	
		<xs:complexType name="coverageIntervalType">
			<xs:sequence>
				<xs:element name="standardUnc" type="si:uncertaintyValueType"/>
				<xs:element name="intervalMin" type="si:decimalType"/>
				<xs:element name="intervalMax" type="si:decimalType"/>
				<xs:element name="coverageProbability" type="si:probabilityValueType"/>
				<xs:element name="distribution" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	
	<xs:complexType name="coverageIntervalXMLListType">
			<xs:sequence>
				<xs:element name="standardUncXMLList" type="si:uncertaintyValueXMLListType"/>
				<xs:element name="intervalMinXMLList" type="si:decimalXMLListType"/>
				<xs:element name="intervalMaxXMLList" type="si:decimalXMLListType"/>
				<xs:element name="coverageProbabilityXMLList" type="si:probabilityValueXMLListType"/>
				<xs:element name="distributionXMLList" type="si:stringXMLListType" minOccurs="0"/>
			</xs:sequence>
	</xs:complexType>
	
	
		<xs:complexType name="covarianceMatrixType">
			<xs:sequence>
				<xs:element name="column" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Definition of a column in the covariance matrix.
						</xs:documentation>
						<xs:documentation xml:lang="en">
							<![CDATA[
							The column has n covariance elements, where
							n is the amount of columns in the covariance matrix.
							
							The covariance elements are ordered as in the covariance matrix, started
							at the element in the first row of the matrix and going to the
							last row of the matrix.
							]]>
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="covariance" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">
										Each covariance component is defined by 
										- element value		(decimal value type)
										- element unit		(string - SI format)
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" type="si:decimalType"/>
										<xs:element name="unit" type="si:unitType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>

	
		<xs:complexType name="ellipsoidalRegionType">
			<xs:sequence>
				<!-- covariance matrix data -->
				<xs:element name="covarianceMatrix" type="si:covarianceMatrixType"/>
				<!-- coverage properties of region -->
				<xs:element name="coverageFactor" type="si:kValueType"/>
				<xs:element name="coverageProbability" type="si:probabilityValueType"/>
				<!-- optional information about distribution -->
				<xs:element name="distribution" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="rectangularRegionType">
			<xs:sequence>
				<!-- covariance matrix data -->
				<xs:element name="covarianceMatrix" type="si:covarianceMatrixType"/>
				<!-- coverage properties of region -->
				<xs:element name="coverageFactor" type="si:kValueType"/>
				<xs:element name="coverageProbability" type="si:probabilityValueType"/>
				<!-- optional information about distribution -->
				<xs:element name="distribution" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
		
		<xs:complexType name="listUnivariateUncType">
			<xs:choice>
				<xs:annotation>
					<xs:documentation xml:lang="en">
						univariate measurement uncertainty
					</xs:documentation>
				</xs:annotation>
				<xs:element name="expandedUnc" type="si:expandedUncType"/>
				<xs:element name="coverageInterval" type="si:coverageIntervalType"/>
			</xs:choice>
		</xs:complexType>
		
		<xs:complexType name="listBivariateUncType">
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						bivariate measurement uncertainty
					</xs:documentation>
				</xs:annotation>
				<xs:element name="ellipsoidalRegion" type="si:ellipsoidalRegionType"/>
				<xs:element name="rectangularRegion" type="si:rectangularRegionType"/>
			</xs:choice>
		</xs:complexType>
		
					


	
	

<!-- ############## D-SI XML INTERNALLY USED SIMPLE TYPE DEFINITIONS #################### -->

	<xs:simpleType name="unitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				BIPM SI brochure unit (9th edition).
				Based on xs:string.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="unitPhaseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Unit of angular quantity in SI.
				Based on xs:string.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="decimalType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Scientific decimal format for numerical values.
				Based on type xs:double.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:pattern value="[-+]?((\d*\.\d+)|(\d+\.\d*)|(\d+\.?))([Ee][-+]?\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="uncertaintyValueType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Scientific decimal format for numerical values of uncertainties
				that must be positive (greater than zero or equal to zero).
				Based on type xs:double.
			</xs:documentation>
		</xs:annotation>
	
		<xs:restriction base="xs:double">
			<xs:pattern value="\+?((\d*\.\d+)|(\d+\.\d*)|(\d+\.?))([Ee][-+]?\d+)?"/>	  
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="kValueType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Scientific decimal format for coverage factor values for uncertainties
				that must be greater than one or equal to one.
				Based on type xs:double.
			</xs:documentation>
		</xs:annotation>	
		<xs:restriction base="xs:double">
			<xs:pattern value="\+?(([1-9]\d*\.\d*)|([1-9]\d*))"/>	  
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="probabilityValueType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Decimal format for coverage probability values for uncertainties.
				The value must be within the interval [0,1]. The scientific exponent 
				"e" (or "E") is not allowed.
				Based on type xs:double.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:pattern value="\+?((0(\.\d*)?)|(1(\.0*)?))"/>
		</xs:restriction>
	</xs:simpleType>


	<!-- ############## D-SI XML-Lists for D-SI SimpleTypes #################### -->
	<xs:simpleType name="unitXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of units (si:unitType) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:unitType" />
	</xs:simpleType>
	
	<xs:simpleType name="unitPhaseXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of phase angle units (si:unitPhase Type) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:unitPhaseType" />
	</xs:simpleType>
	
	<xs:simpleType name="decimalXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of values (si:decimalType) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:decimalType" />
	</xs:simpleType>
	
	<xs:simpleType name="uncertaintyValueXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of uncertainty values (si:uncertaintyValueType) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:uncertaintyValueType"/>
	</xs:simpleType>
	
	<xs:simpleType name="kValueXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of coverage factor values (si:kValueType) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:kValueType" />
	</xs:simpleType>
	
	<xs:simpleType name="probabilityValueXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of coverage probability values (si:probabilityValueType) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="si:probabilityValueType" />
	</xs:simpleType>
	
	<xs:simpleType name="dateTimeXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of time values (xs:dateTime) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:dateTime" />
	</xs:simpleType>
	
	<xs:simpleType name="stringXMLListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Type providing listing of strings (xs:string) 
				with separation by blank spaces.
			</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:string" />
	</xs:simpleType>

</xs:schema>
