data/dcc/dcc_2_4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="2.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dcc="https://ptb.de/dcc"
           xmlns:si="https://ptb.de/si"
           targetNamespace="https://ptb.de/dcc"
           elementFormDefault="qualified">

    <xs:import
            namespace="https://ptb.de/si"
            schemaLocation="https://ptb.de/si/v1.3.1/SI_Format.xsd"/>

    <xs:annotation>
        <xs:documentation>
            Copyright (c) 2019 - Physikalisch-Technische Bundesanstalt, alle Rechte vorbehalten - all rights reserved

            Diese Software wurde in der Physikalisch-Technischen Bundesanstalt entwickelt. Die Software wird unentgeltlich, wie sie ist, auf eigenes Risiko des Nutzers zur Verfügung gestellt. Die PTB übernimmt keine Haftung, egal aus welchem Rechtsgrund, für die Nutzung der Software durch Andere und garantiert weder ausdrücklich noch konkludent für die Qualität, Sicherheit, Zuverlässigkeit, Tauglichkeit, oder andere Merkmale der Software. Soweit gesetzlich zulässig lehnt die PTB jede Haftung für direkte Schäden, indirekte Schäden oder für Folgeschäden ab, die durch die Nutzung der Software entstehen.

            This software was developed at the Physikalisch-Technische Bundesanstalt (PTB). The software is made available “as is“ free of cost at your own risk. PTB assumes no responsibility whatsoever for its use by other parties, and makes no guarantees, expressed or implied, about its quality, reliability, safety, suitability or any other characteristic. As far as legally permitted PTB refuses any liability for any direct, indirect or consequential damage arising in connection with the use of this software.

            Documentation: https://ptb.de/dcc/v2.4.0/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="digitalCalibrationCertificate" type="dcc:digitalCalibrationCertificateType"/>

    <xs:complexType name="digitalCalibrationCertificateType">
        <xs:sequence>
            <xs:element name="administrativeData" type="dcc:administrativeDataType"/>

            <xs:element name="measurementResults" type="dcc:measurementResultListType"/>

            <xs:element name="comment" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="document" type="dcc:byteDataType" minOccurs="0"/>

        </xs:sequence>

        <xs:attribute name="schemaVersion" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="2.4.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!--   #####################################################################################
                Elements of the administrativeData part of the DCC
           #####################################################################################-->

    <xs:complexType name="administrativeDataType">
        <xs:all>
            <xs:element name="dccSoftware" type="dcc:softwareListType"/>
            <xs:element name="coreData" type="dcc:coreDataType"/>
            <xs:element name="items" type="dcc:itemListType"/>
            <xs:element name="calibrationLaboratory" type="dcc:calibrationLaboratoryType"/>
            <xs:element name="respPersons" type="dcc:respPersonListType"/>
            <xs:element name="customer" type="dcc:contactType"/>
            <xs:element name="statements" type="dcc:statementListType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="softwareListType">
        <xs:annotation>
            <xs:documentation>
                Clear description of the software-version and the creator of the software used to create and process the
                DCC
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="software" type="dcc:softwareType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="softwareType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="release" type="xs:string"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="measuringEquipmentListType">
        <xs:annotation>
            <xs:documentation>
                Information about the instruments used
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="measuringEquipment" type="dcc:measuringEquipmentType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="measuringEquipmentType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="equipmentClass" type="dcc:equipmentClassType" minOccurs="0"/>
            <xs:element name="description" type="dcc:textType" maxOccurs="unbounded"/>
            <xs:element name="descriptionData" type="dcc:byteDataType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="certificate" type="dcc:hashType" minOccurs="0"/>
            <xs:element name="manufacturer" type="dcc:contactNotStrictType" minOccurs="0"/>
            <xs:element name="model" type="xs:string" minOccurs="0"/>
            <xs:element name="identifications" type="dcc:identificationListType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="coreDataType">
        <xs:annotation>
            <xs:documentation>
                Basic parameters of the Digital Calibration Certificate (DCC)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type"/>
            <xs:element name="usedLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="mandatoryLangCodeISO639_1" type="dcc:stringISO639Type" maxOccurs="unbounded"/>
            <xs:element name="uniqueIdentifier" type="xs:string"/>
            <xs:element name="identifications" type="dcc:identificationListType" minOccurs="0"/>
            <xs:element name="receiptDate" type="xs:date" minOccurs="0"/>
            <xs:element name="beginPerformanceDate" type="xs:date"/>
            <xs:element name="endPerformanceDate" type="xs:date"/>
            <xs:element name="previousReport" type="dcc:hashType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="equipmentClassType">
        <xs:annotation>
            <xs:documentation>
                Clear name(s) of the item(s) and identifier(s)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reference" type="xs:string"/>
            <xs:element name="classID" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="itemListType">
        <xs:annotation>
            <xs:documentation>
                Clear description of the calibration items
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:element name="equipmentClass" type="dcc:equipmentClassType" minOccurs="0"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0"/>
            <xs:element name="owner" type="dcc:contactType" minOccurs="0"/>
            <xs:element name="identifications" type="dcc:identificationListType" minOccurs="0"/>

            <xs:element name="item" type="dcc:itemType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="equipmentClass" type="dcc:equipmentClassType" minOccurs="0"/>
            <xs:element name="description" type="dcc:textType" maxOccurs="unbounded"/>
            <xs:element name="descriptionData" type="dcc:byteDataType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="manufacturer" type="dcc:contactNotStrictType"/>
            <xs:element name="model" type="xs:string" minOccurs="0"/>

            <xs:element name="identifications" type="dcc:identificationListType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="identificationListType">
        <xs:sequence>
            <xs:element name="identification" type="dcc:identificationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="identificationType">
        <xs:sequence>
            <xs:element name="issuer">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="manufacturer"/>
                        <xs:enumeration value="calibrationLaboratory"/>
                        <xs:enumeration value="customer"/>
                        <xs:enumeration value="owner"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refType" type="dcc:stringRefType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="calibrationLaboratoryType">
        <xs:annotation>
            <xs:documentation>
                Information about the calibration laboratory
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="calibrationLaboratoryCode" type="xs:string" minOccurs="0"/>
            <xs:element name="contact" type="dcc:contactType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonListType">
        <xs:annotation>
            <xs:documentation>
                List of responsible persons for the DCC
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="respPerson" type="dcc:respPersonType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="respPersonType">
        <xs:sequence>
            <xs:element name="person" type="dcc:contactNotStrictType"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0"/>
            <xs:element name="mainSigner" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSeal" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicSignature" type="xs:boolean" minOccurs="0"/>
            <xs:element name="cryptElectronicTimeStamp" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="statementListType">
        <xs:annotation>
            <xs:documentation>
                Elements for the statements
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="statement" type="dcc:statementMetaDataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!--   #####################################################################################
                Elements of the measurementResult part of the DCC
           ##################################################################################### -->

    <xs:complexType name="measurementResultListType">
        <xs:sequence>
            <!--
            For this elements is community input needed.
            Talk to us: gemimeg@ptb.de

            <xs:element name="samplingDate" type="xs:date" minOccurs="0"/>
            <xs:element name="sampledMaterials" type="dcc:sampledMaterialType" minOccurs="0"/>

            <xs:element name="externals" type="dcc:externalType" minOccurs="0"/>

            <xs:element name="metrologicallyTraceable" type="dcc:metrologicallyTraceableType" minOccurs="0"/>


            <xs:element name="calibrationLocations" type="dcc:calibrationLocationType" maxOccurs="unbounded"/>

            -->

            <xs:element name="measurementResult" type="dcc:measurementResultType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="measurementResultType">
        <xs:sequence>
            <xs:element name="usedMethods" type="dcc:usedMethodListType" minOccurs="0"/>
            <xs:element name="usedSoftware" type="dcc:softwareListType" minOccurs="0"/>
            <xs:element name="measuringEquipments" type="dcc:measuringEquipmentListType" minOccurs="0"/>
            <xs:element name="influenceConditions" type="dcc:influenceConditionListType" minOccurs="0"/>
            <xs:element name="results" type="dcc:resultListType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- We need community input about the following:
         Talk to us: gemimeg@ptb.de

        <xs:complexType name="externalType">
            <xs:annotation>
                <xs:documentation>
                    Information about the external partners

                    Community input needed! Talk to us: gemimeg@ptb.de
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="external" type="dcc:contactType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="sampledMaterialType">
            <xs:annotation>
                <xs:documentation>
                    Information about the sampled material

                    Community input needed! Talk to us: gemimeg@ptb.de
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="sampledMaterial" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="plan" type="dcc:textType"/>
                            <xs:element name="method" type="dcc:textType"/>
                            <xs:element name="descriptionData" type="dcc:byteDataType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="externalSampler" type="dcc:contactType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="metrologicallyTraceableType">
            <xs:annotation>
                <xs:documentation>
                    Elements for metrologically traceable measurements

                    Community input needed! Talk to us: gemimeg@ptb.de

                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="name" type="dcc:textType" />
                <xs:element name="description" type="dcc:textType" />
                <xs:element name="identifier" type="dcc:hashType" />
            </xs:sequence>
        </xs:complexType>

    -->

    <xs:complexType name="usedMethodListType">
        <xs:annotation>
            <xs:documentation>
                Clear description of the used method
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="usedMethod" type="dcc:usedMethodType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="usedMethodType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="description" type="dcc:textType" maxOccurs="unbounded"/>
            <xs:element name="norm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="influenceConditionListType">
        <xs:annotation>
            <xs:documentation>
                Elements for the conditions (e.g. environmental) under which the calibrations were
                made that have an influence on the measurement results
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="influenceCondition" type="dcc:conditionType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="calibrationLocationListType">
        <xs:annotation>
            <xs:documentation>
                Locations, where the calibration was done
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="calibrationLocation" type="dcc:calibrationLocationType" maxOccurs="unbounded"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="calibrationLocationType">
        <xs:sequence>
            <xs:element name="calibrationLocationSite" type="dcc:textType"/>
            <xs:element name="beginLocationCalDateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="endLocationCalDateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="location" type="dcc:locationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="conditionType">
        <xs:annotation>
            <xs:documentation>
                All necessary information for one part of a measurement
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0"/>
            <xs:element name="state" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="beforeAdjustment"/>
                        <xs:enumeration value="afterAdjustment"/>
                        <xs:enumeration value="beforeRepair"/>
                        <xs:enumeration value="afterRepair"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="data" type="dcc:dataType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refType" type="dcc:stringRefType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="resultType">
        <xs:annotation>
            <xs:documentation>
                The result itself
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="description" type="dcc:textType" minOccurs="0"/>
            <xs:element name="data" type="dcc:dataType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refId" type="xs:IDREF" use="optional"/>
        <xs:attribute name="refType" type="dcc:stringRefType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="resultListType">
        <xs:annotation>
            <xs:documentation>
                Elements for the measurement results
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="dcc:resultType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dataType">
        <xs:annotation>
            <xs:documentation>
                In the Element "outcome", any of the elements
                "text", "formula", "byteData", "chart", "image", "data" and "xml"
                can be used multiple times in an arbitrary order. The usage of each element
                is optional. At least one of the elements must be provided.
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="text" type="dcc:textType"/>
            <xs:element name="formula" type="dcc:formulaType"/>
            <xs:element name="byteData" type="dcc:byteDataType"/>
            <xs:element name="xml" type="dcc:xmlType"/>
            <xs:element name="quantity" type="dcc:quantityType"/>
            <xs:element name="list" type="dcc:listType"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <!--  #####################################################################################
                Elements for the specification of measurement data (quantities) in the DCC
                (XMl Schema for the secure exchange of measurement data in ICT applications)
          #####################################################################################-->

    <xs:complexType name="quantityType">
        <xs:annotation>
            <xs:documentation>
                Basic element for the statement of measurement values in a DCC.
                The measurement value, its unit and uncertainty are defined by type 'si:real'.
                The 'unit' must be defined in the SI-system (siunitx format).
                Additional information can be made according to MRA, Ilac and external
                measurements in the 'measurementMetaData' element.
                In addition, the 'quantity' can contain a comma separated list of independent real quantities
                ('si:realCS').
                The 'quantity' has an optional 'name' element and it can have a unique ID.
                The 'name' element can be repeated with different languages.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:choice>
                <xs:element name="noQuantity" type="dcc:textType"/>
                <xs:element ref="si:real"/>
                <xs:element ref="si:list"/>
                <xs:element ref="si:hybrid"/>
            </xs:choice>
            <xs:element name="usedMethods" type="dcc:usedMethodListType" minOccurs="0"/>
            <xs:element name="usedSoftware" type="dcc:softwareListType" minOccurs="0"/>
            <xs:element name="influenceConditions" type="dcc:influenceConditionListType" minOccurs="0"/>
            <xs:element name="measurementMetaData" type="dcc:measurementMetaDataListType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="refId" type="xs:IDREF" use="optional"/>
        <xs:attribute name="refType" type="dcc:stringRefType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="listType">
        <xs:annotation>
            <xs:documentation>
                The 'list' element allows to define a collection of measurement results
                which are subject to structures with integrity. Basic structures are
                vector quantities. A recursive usage of 'list' allows the creation of
                matrix and tensor structures as well as structures of higher dimension. The 'list'
                may also be used to give measurement results in combination with some
                ambient conditions at the measurement.
                In this version of the data format, the 'list' supports a global definition of uncertainties
                that are binding for all quantities inside the 'list' element.
                For future versions it is planned to add uncertainty elements for vector quantities
                (e.g. covariance matrix).
                The 'list' element can have a unique ID and several name elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType" minOccurs="0"/>
            <xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:choice>
                <xs:element name="list" type="dcc:listType" maxOccurs="unbounded"/>
                <xs:element name="quantity" type="dcc:quantityType" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element name="usedMethods" type="dcc:usedMethodListType" minOccurs="0"/>
            <xs:element name="usedSoftware" type="dcc:softwareListType" minOccurs="0"/>
            <xs:element name="influenceConditions" type="dcc:influenceConditionListType" minOccurs="0"/>
            <xs:element name="measurementMetaData" type="dcc:measurementMetaDataListType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="measurementMetaDataListType">
        <xs:annotation>
            <xs:documentation>
                TODO: noch anpassen an neue Struktur
                The measurement meta data comprises optional information that lead to a measurement result.
                The sub-elements should reference the specific and detailed information in the administrative part.
                Each element is optional and the user should only provide the elements that are relevant
                for the measurement result.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="metaData" type="dcc:statementMetaDataType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <!--   #####################################################################################
                complexTypes for DCC
           #####################################################################################-->

    <xs:complexType name="statementMetaDataType">
        <xs:sequence>
            <xs:element name="countryCodeISO3166_1" type="dcc:stringISO3166Type" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="convention" type="xs:string" minOccurs="0"/>
            <xs:element name="traceable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="norm" type="xs:string" minOccurs="0"/>
            <xs:element name="reference" type="xs:string" minOccurs="0"/>
            <xs:element name="declaration" type="dcc:textType" minOccurs="0"/>
            <xs:element name="valid" type="xs:boolean" minOccurs="0"/>
            <xs:element name="refId" type="xs:IDREF" minOccurs="0"/>
            <xs:element name="date" type="xs:date" minOccurs="0"/>
            <xs:element name="period" type="xs:duration" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="stringISO3166Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stringISO639Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="stringWithLangType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="dcc:stringISO639Type" use="optional"/>
                <xs:attribute name="id" type="xs:ID" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="locationType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="city" type="xs:string"/>
            <xs:element name="countryCode" type="dcc:stringISO3166Type"/>
            <xs:element name="postCode" type="xs:string"/>
            <xs:element name="postOfficeBox" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="streetNo" type="xs:string"/>
            <xs:element name="further" type="dcc:textType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="eMail" type="xs:string"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="fax" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="dcc:locationType"/>
            <xs:element name="descriptionData" type="dcc:byteDataType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="contactNotStrictType">
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="eMail" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="fax" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="dcc:locationType" minOccurs="0"/>
            <xs:element name="descriptionData" type="dcc:byteDataType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:simpleType name="stringRefType">
        <xs:restriction base="xs:string">
            <!--
            Regex for the stringRefType
            Example:
            /dcc/aBcRefType/cDe/fGh
		    /dcc/quantityRefType/weight/temperature
            -->
            <xs:pattern value="(/[A-Za-z][A-Za-z0-9]+)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="hashType">
        <xs:sequence>
            <xs:element name="reference" type="dcc:textType"/>
            <xs:element name="referenceID" type="xs:string"/>
            <xs:element name="procedure" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="linkedReport" type="dcc:hashType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="textType">
        <xs:annotation>
            <xs:documentation>
                The textType defines the type for writing text in the DCC.
                In this Type, the element content can be used many times with different language definition (attribute
                lang).
                The optional attribute ID is for a unique ID.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="content" type="dcc:stringWithLangType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="byteDataType">
        <xs:annotation>
            <xs:documentation>
                The byteDataType defines a type which allows to add
                binary encoded files to the measurement result section.
                It is a good practise to use the Base64
                Data Encodings standard (see RFC 4648).
                The file must be encoded as base64Binary, see RFC 4648.
                Examples for the content are image files or ZIP archives.
                The element fileName gives the name of the original file.
                Element mimeType is the underlying file type (e.g. zip, jpeg, png).
                Element data contains the base64Binary encoded file.
                The optional attribute ID is for a unique ID of this data block.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="dcc:textType"/>
            <xs:element name="description" type="dcc:textType"/>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="mimeType" type="xs:string"/>
            <xs:element name="data" type="xs:base64Binary"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/><!--92200_A_I-->
    </xs:complexType>

    <xs:complexType name="formulaType">
        <xs:annotation>
            <xs:documentation>
                This data block is used to add formulas and equations to the measurement result section of the DCC.
                A formula is expected to by written by means of the LaTeX ams math formalism. All units in the
                LaTeX expression must follow the siunitx LaTeX standard.
                The formula is written to the siunitx element.
                The optional attribute ID is for a unique ID of this block.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="siunitx" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="lang" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="xmlType">
        <xs:annotation>
            <xs:documentation>
                This data block is used to add user or application specific XML content to the
                measurement result section of the DCC.
                The optional attribute ID is for a unique ID of this block.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##other" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
